[submodule "themes/minos"]
	path = themes/minos
	url = https://github.com/ppoffice/hexo-theme-minos
[submodule ".\\themes\\vsc"]
	path = .\\themes\\vsc
	url = https://github.com/bakkujp/hexo-dark-theme-vsc-inspiration
